@charset "utf-8";
body {
    color: #2C0127;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-color: #F2B9E3;
}
#wrapper {
    background-color: #F7D1EF;
    width: 100%;
    min-width: 740px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/background.png);
}
#wrapper #top {
    padding-top: 29px;

}

#hero img {
    max-width: 100%;
    margin-left: 25%;
}
#hero article {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 45px;
}

h1, h2 {
    color: #1B0026;
    font-family: abril-fatface;
    font-style: italic;
    font-weight: 400;
}
h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#main {
    width: 50%;
    margin-left: 3%;
    float: left;
}
#stock {
    margin-left: 6%;
    float: left;

}
footer {
    clear: left;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3%;
    background-color: #320021;
    color: #FFFFFF;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #6A31DF;
    text-decoration: none;
    font-style: oblique;
}
a:visited {
    color: #114025;
}
a:hover, a:active, a:focus {
    color: #03D5E0;
    text-decoration: underline;
}
#mainnav ul {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#mainnav a {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    background-color: #790682;
    color: #FFFFFF;
    text-transform: capitalize;
    padding-top: 9px;
    padding-bottom: 9px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
    text-decoration: none;
    color: #F300FF;
}
